<?xml version="1.0" encoding="utf-8" ?>
<module name="ScriptLibrary" version="2022.1.1.4">
  <include module="Algo"/>
  <include module="Core"/>
  <include module="IO"/>
  <include module="Material"/>
  <include module="Process"/>
  <include module="Scene"/>
  <function name="Revit_Process" state="Stable" scriptable="true" guiable="true" description="" logName="" scriptFile="ScriptLibraryScript.py">
    <parameters>
      <parameter name="ImportFiles" type="ImportFilePathList" state="Stable"/>
      <parameter name="OutputFile" type="OutputFilePath" state="Stable"/>
    </parameters>
  </function>
  <function name="clean" state="Stable" scriptable="true" guiable="true" description="" logName="" scriptFile="CleanBot.py"/>
  <function name="clean_filtered_occurrences" state="Stable" scriptable="true" guiable="true" description="" logName="" scriptFile="CleanBot.py">
    <parameters>
      <parameter name="FilterExpression" type="FilterExpression" state="Stable"/>
    </parameters>
  </function>
  <function name="decimating" state="Stable" scriptable="true" guiable="true" description="" logName="" scriptFile="GeometryOptimazation.py">
    <parameters>
      <parameter name="Target_Occurrences" type="OccurrenceList" state="Stable"/>
      <parameter name="Model_Quality" type="QualityPreset" state="Stable"/>
    </parameters>
  </function>
  <function name="final_optimize" state="Stable" scriptable="true" guiable="true" description="" logName="" scriptFile="CleanBot.py"/>
  <function name="model_factor" state="Stable" scriptable="true" guiable="true" description="" logName="" scriptFile="GeometryOptimazation.py">
    <parameters>
      <parameter name="ModelPreset" type="QualityPreset" state="Stable"/>
    </parameters>
  </function>
  <function name="repairing" state="Stable" scriptable="true" guiable="true" description="" logName="" scriptFile="GeometryOptimazation.py">
    <parameters>
      <parameter name="Model_Quality" type="QualityPreset" state="Stable"/>
    </parameters>
  </function>
</module>
